extends main.pug 

block datos 
    h1 Vista de productos - Desafio Clase 10
    if productos.length 
        div(class="table-responsive tabla")
            table(class="table table-dark table-striped")
                thead 
                    tr 
                        th(scope="col") Nombre
                        th(scope="col") Precio
                        th(scope="col") Foto
                tbody 
                    each producto in productos
                        tr
                            th(scope="row")=producto.title
                            th(scope="row")=producto.price
                            th(scope="row"): img(src=producto.thumbnail alt="imagen" width="50")        
    else
        h2(style="color: chocolate;") No se encontraron productos

    button(id="formButton" class="btn btn-secondary") Ir a Cargar Productos

    script.
        const formButton = document.getElementById('formButton')
        formButton.addEventListener('click', (event) => {
            window.location= "/";
        });