<h1 style="color:darkblue;">Bienvenidos al servidor express - Joyería Puga</h1> <br>
<h1>Seleccione una opción</h1>

<div>
    <h3>Bienvenid@</h3>
    <p>{{user.last_name}} {{user.first_name}}</p>
</div>

<button id="viewProduct" class="btn btn-warning"> Ver Productos</button>
<button id="addProduct" class="btn btn-warning"> Ir a Cargar Productos</button>
<button id="viewChat" class="btn btn-warning"> Ir al Chat</button>
<button id="viewCart" class="btn btn-warning"> Ver Mi Carrito</button>
<button id="viewProfile" class="btn btn-warning"> Mi Perfil</button>
<button id="logout" class="btn btn-warning"> Salir</button>

<script src="/js/index.js"></script>
