<h1>Bienvenidos al servidor express - Joyería Puga</h1> <br>
<div>
    <h1>Login</h1>
    <form id="loginForm">
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label">Email</label>
                <input name="email" class="form-control">
                <br/>
                <label>Contraseña</label>
                <input name="password" class="form-control" type="password">
                <br>
                <input value="Acceder" type="submit" class="btn btn-warning">
            </div>
        </div>
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>

<a href="/api/sessions/github"> <button class="btn btn-warning"><i class="fa-brands fa-github"></i> Ingresar con Github</button> </a>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>