<h1>Bienvenidos al servidor express - Joyería Puga</h1> <br>
<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <div class="row">
            <div class="mb-3 col">
                <label>Nombre</label>
                <input name="first_name" class="form-control">
                <br/>
                <label>Apellido</label>
                <input name="last_name" class="form-control">
                <br/>
                <label>Email</label>
                <input name="email" class="form-control">
                <br/>
                <label>Edad</label>
                <input name="age" class="form-control">
                <br/>
                <label>Contraseña</label>
                <input name="password" type="password" class="form-control">
                <br>
                <input type="submit" class="btn btn-warning">
            <div/>
        <div/>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login"> Ingrese aquí </a></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>